:host {
    mat-toolbar {
        background-color: #303030;
    }

    button {
        background-color: white;
    }
}

.contact-card {
    text-align: center;
    max-width: 50%;
}

.contact-card-content {
    margin-top: 30px;
}

.contact-form-container {
    padding-top: 15px;
    background-color: #303030;
    
    mat-label {
        color: #ffffff;
    }
}

.warning {
    color: red;
    font-weight: bold;
}

.form-element {
    padding: 5px 0px 5px 5px;
    width: 100%;
}

.contact-send-button {
    margin-top: 10px;
}

.send-response {
    color: red;
}

@media only screen and (max-width: 768px) {
    .contact-card {
        max-width: 90% !important;
    }
}