.contact-card {
    text-align: center;
}

.contact-card-content {
    margin-top: 30px;
}

.contact-form-container {
    padding-top: 15px;
}

.warning {
    color: red;
    font-weight: bold;
}

.form-element {
    padding: 5px 0px 5px 5px;
    width: 100%;
}