<div fxLayout="Row" fxLayoutAlign="space-evenly" class="start-card">
    <mat-card fxFlex="1 1 50%" class="contact-card">
        <div class="contact-card-header">
            <h2>Contact Me</h2>
            <p class="warning"><mat-icon style="color:red;">warning</mat-icon>  I've disabled this form since I don't actually want anybody to contact me from here..</p>
        </div>
        <mat-divider></mat-divider>
        <div class="contact-card-content">
            <mat-toolbar>
                <mat-toolbar-row>
                    <span class="fill-space"></span>
                    <button mat-icon-button (click)="clearForm()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-toolbar-row>
            </mat-toolbar>
            <div class="contact-form-container">
                <form [formGroup]="contactForm" (ngSubmit)="onSend(contactForm)">
                    <mat-form-field appearance="fill" class="form-element">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="contactForm.get('name').hasError('required')">Name is required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="form-element">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="contactForm.get('email').hasError('required')">Email is required</mat-error>
                        <mat-error *ngIf="contactForm.get('email').hasError('email')">Email is invalid</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="form-element">
                        <mat-label>Message</mat-label>
                        <textarea matInput formControlName="message"></textarea>
                        <mat-error *ngIf="contactForm.get('message').hasError('required')">Message is required</mat-error>
                    </mat-form-field>
                    <br>
                    <button [disabled]="!contactForm.valid" mat-raised-button type="submit" class="form-element contact-send-button">SEND</button>
                    <span *ngIf="showResponse" class="send-response">{{ sendResponse }}</span>
                </form>
            </div>
        </div>
    </mat-card>
</div>