<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>supervised_user_circle</mat-icon>
        nvor
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tor">tor</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/infrastructure">infra</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/advocacy">advocacy</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">contact</a>
</mat-nav-list>