mat-nav-list a {
    font-family: monospace;
    color: darkgrey;
}

mat-nav-list a:hover {
    background-color: purple;
    color: plum;
    font-weight: bold;
}

// .list-item-active {
//     background-color: grey;
// }