<mat-nav-list>
    <div class="sidebar-top-content">
        <div class="sidebar-info">
            <h2>Nvor</h2>
            <h4>Certified Human</h4>
            <div>
                <img class="sidebar-image" src="assets/images/nom-cat.png" alt="">
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="router-link-items">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="" [routerLinkActiveOptions]="{ exact: true }">
            <div class="nav-link-item">
                <mat-icon>face</mat-icon>
                nvor
            </div>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/tor">
            <div class="nav-link-item">
                <mat-icon>visibility_off</mat-icon>
                tor
            </div>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/infrastructure">
            <mat-icon>vpn_lock</mat-icon>
            infra</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/advocacy">
            <mat-icon>account_balance</mat-icon>
            advocacy</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
            <mat-icon>email</mat-icon>
            contact</a>
    </div>
</mat-nav-list>