.tool-cards-row {
    padding-top: 30px;
}

.tool-cards-row mat-card {
    padding: 0px;
}

mat-card img {
    width: 100%;
    padding-left: 16px;
    height: auto;
}

mat-card-header {
    text-align: center;
    padding: 10px;
}

mat-card-content {
    padding-left: 10px;
    padding-bottom: 10px;
}
.advo-info-card {
    max-width: 66%;
}

.example-card {
    max-width: 20%;
}

@media only screen and (max-width: 992px) {
    .tool-cards-row {
        flex-wrap: wrap;
    }
    .advo-info-card {
        max-width: 90% !important;
    }
    .example-card {
        max-width: 90% !important;
        margin-bottom: 20px !important;
    }
}