<div fxLayout="Row" fxLayoutAlign="space-evenly" class="start-card">
    <mat-card fxFlex="1 1" class="advo-info-card">
        <h2>Digital Rights and Privacy.</h2>
        <p>Do you not like being spied on by governments, law enforcement agencies, and private corporations? The
            digital age has
            had a profound impact on how humans communicate and share ideas and information. As data has evolved and its
            volume
            continues to grow exponentially, many public and privately sponsored entities have invested heavily in
            domestic
            and global surveillance capabilities, with the intention of collecting any amount of information on all members of the
            general public.
            Fortunately, there are a number of awesome tools that allow us to push back and hide our internet activities
            from the
            watchful eye of surveillance.
        </p>
        <p>Check out the below tools for maximizing your anonymity and privacy over the web.</p>
    </mat-card>
</div>
<div fxLayout="Row" fxLayoutAlign="space-evenly" class="tool-cards-row">
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>Tails</mat-card-title>
            <mat-card-subtitle>Security Focused OS</mat-card-subtitle>
        </mat-card-header>
        <a href="https://tails.boum.org/">
            <img mat-card-image src="assets/images/tails-OS.svg" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                A Debian based operating system that force routes all incoming and outcoming connections through Tor and
                only writes to RAM unless specifically specified, enabling the OS to not leave a digital footprint.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>Signal</mat-card-title>
            <mat-card-subtitle>Encrypted Messaging Service</mat-card-subtitle>
        </mat-card-header>
        <a href="https://signal.org/en/">
            <img mat-card-image src="assets/images/Signal.png" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                Signal is a cross-platform end-to-end encrypted messaging app. Signal users may create secure channels
                with
                one another for communicating several types of media, including text, voice, images, videos, and other
                binary data.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>Tor (Browser)</mat-card-title>
            <mat-card-subtitle>Darknet Browser</mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.torproject.org/">
            <img mat-card-image src="assets/images/Tor.png" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                The Tor browser anonymizes web traffic by automatically routing it through the Tor network and its
                supporting
                relays. It is also able to connect to Tor hidden sites (websites only accessible through Tor, often
                called
                onions and suffixed with a .onion domain).
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>ProtonMail</mat-card-title>
            <mat-card-subtitle>Encrypted Email Service</mat-card-subtitle>
        </mat-card-header>
        <a href="https://protonmail.com/">
            <img mat-card-image src="assets/images/ProtonMail.png" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                ProtonMail is an end-to-end encrypted email service. Unlike the email services provided by Google, Microsoft,
                or other big tech companies, ProtonMail uses client-side encryption to encrypt your email content before it
                ever reaches the ProtonMail servers, maximizing the data privacy of the service.
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div fxLayout="Row" fxLayoutAlign="space-evenly" class="tool-cards-row">
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>DuckDuckGo</mat-card-title>
            <mat-card-subtitle>Privacy Search Engine</mat-card-subtitle>
        </mat-card-header>
        <a href="https://duckduckgo.com/">
            <img mat-card-image src="assets/images/DuckDuckGo.png" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                DuckDuckGo is a privacy focused internet search engine. Unlike Google and other major search engines, DuckDuckGo
                does not profile its users or create personalized search results.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>VeraCrypt</mat-card-title>
            <mat-card-subtitle>Encryption Utility</mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.veracrypt.fr/code/VeraCrypt/">
            <img mat-card-image src="assets/images/VeraCrypt.png" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                VeraCrypt is a software utility for performing on-the-fly encryption. It can be used to encrypt disk partitions, 
                create encrypted virtual disks, and in the case of Windows, encrypt a storage device/EFI system (Linux has more
                substantial alternatives for disk encryption such as LUKS).
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="1 1" class="example-card">
        <mat-card-header>
            <mat-card-title>Firefox</mat-card-title>
            <mat-card-subtitle>Open-Source Browser</mat-card-subtitle>
        </mat-card-header>
        <a href="https://www.mozilla.org/">
            <img mat-card-image src="assets/images/Firefox.png" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
            <p>
                Firefox has a long standing reputation as the go-to general web browser for those who value privacy
                and supporting the open-source community. It has been improved over the years to be a strong alternative
                to its competitors, and more importantly, its transparency and dedication to the security of the user
                makes adopting this browser as your general web browser a no brainer.
            </p>
        </mat-card-content>
    </mat-card>
</div>