<div fxLayout="Row" fxLayoutAlign="space-evenly" class="start-card">
    <mat-card fxFlex="1 1 50%" class="def-header">
        <h1>nvor</h1>
        <p>Yo.</p>
        <p>I'm Nvor (though I also go by my non-cyber handle, Nick).</p>
        <p>I make stuff.</p>
        <div class="links">
            <div class="link">
                <a href="https://github.com/Nvor">
                    <div>
                        <img src="assets/images/GitHub-Mark-Light-32px.png">
                        <p>GitHub</p>
                    </div>
                </a>
            </div>
        </div>
    </mat-card>
</div>