.def-header {
    text-align: center;
    max-width: 50%;
}

.links {
    margin-top: 25px;
}

.links p {
    color: #ffffff;
}

.links div {
    display: inline-block;
}
@media only screen and (max-width: 768px) {
    .def-header {
        max-width: 90% !important;
    }
}