.intro {
    text-align: center;
    color: #ffffff;
    margin: 30px 0px 0px 0px;
    padding: 20px;
    //border: 1px darkgray solid;
    
    display: flex;
    flex-direction: column;

    * {
        padding-top: 15px;
    }

    .title {
        font-size: 35px;
    }

    .topics {
        font-size: 20px;
    }

    .info {
        font-size: 17px;
    }
}

p {
    font-size: 15px;
}

.def-header {
    text-align: center;
}

.links {
    margin-top: 25px;
}

.links p {
    color: #ffffff;
}

.links div {
    display: inline-block;
}