<div fxLayout="Row" fxLayoutAlign="space-evenly" class="start-card">
    <mat-card fxFlex="1 1 50%" class="def-header">
        <h1>nvor</h1>
        <p>Yo.</p>
        <p>I'm Nvor (though I also go by my non-cyber handle, Nick).</p>
        <p>Programmer by trade, though I also dabble in sketching and philosophy as hobbies. I'm pretty passionate about making stuff. 
            Love technology, art, and the eternally consuming endeavor of building things using creativity, reason, and style!</p>
    </mat-card>
</div>