<mat-toolbar>
    <mat-toolbar-row>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGroup="20px">
                <li>
                    <button mat-icon-button (click)="onTagClick()">
                        <mat-icon>code</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button (click)="onInteract()">
                        <mat-icon>face</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>