/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

h1,h2,h3,h4,h5 {
    font-family: monospace;
}

p {
    font-family: monospace;
}

.mat-card {
    background-color: #242424;
    color: darkgray;
    // border-width: thin;
    // border-style: solid;

    mat-card-subtitle {
        color: darkgray;
    }
}

//refactor
.start-card {
    padding-top: 30px;
}

.mat-card-header-text {
    margin: 0 auto !important;
}

@media only screen and (max-width: 768px) {
    .mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
        display: block !important;
        text-align: center !important;
        padding: 0 2px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        font-size: 10px !important;
    }
    .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
        height: 100% !important;
    }
  }